*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(to top, #dbdbd3  80%, #009688 20% );
    display: flex;
    justify-content: center;
    align-items: center;
}
/* debug */
.debug .current-user{
    height: 4.375rem;
    background-color: red;
}
.debug .small-container{
    background-color: rgb(92, 92, 221);
}
.debug .big-container{
    background-color: yellow;
}
.debug .notify{
    height: 5rem; 
    background-color: violet;
}
.debug .serch{
    height: 35px;
    background-color: aqua;
}
.debug .list{
    height: 5rem; 
    border: 1px solid black;
    background-color: blueviolet;
}
.debug .write-bar{
    background-color: aqua;
    height: 70px;
}
/* debug */

/* contenitore principale */
.container{
    width: 80vw;
    background-color: red;
    margin: 0 auto;
    height: 92vh;
}
/* main */
#main{
    display: flex;
    width: 100%;
    height: 100%;
}
    /* small container */
    .small-container{
        width: 35%;
        height: 100%;
        background-color: rgb(92, 92, 221);
    }
    /*div utente */
    .current-user{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .icon-list{
        display: flex;
    }
    .icon{
        padding-right: 21px;
    }
     /*div utente */
    .list, 
    .icon-list{
        list-style: none;
    }
    /* small container */
    /* big container */
    .big-container{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .write-bar{
        margin-top: auto;
    }
    .main-write-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .dc-border{
        border-left: 1px solid black;
    }
    /* big container */
/* main */