*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* v-cloak vue js */
[v-cloak] {
    display: none;
  }
/* v-cloak vue js */
/* variabili */
:root{
    --bg-col-grey-100:#e7e7e7;
}
/* variabili */
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(to top, #dbdbd3  80%, #009688 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contenitore principale */
.container{
    width: 80vw;
    margin: 0 auto;
    height: 92vh;
}
/* contenitore principale */
/* main */
#main{
    display: flex;
    width: 100%;
    height: 100%;
}
    /* small container */
    .small-container{
        width: 35%;
        height: 100%;
        overflow: auto;
    }
    .nav-bar,
    .small-container{
        background-color:  #ede9ea;
    }
    .bg-col,
    .current-user{
        background-color: #eaeaea;
    }
        /*div utente in alto*/
        .current-user{      /*barra in alto che mostra utente con 3 icone*/
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .current-user-img{
            display: flex;
        }
         /*icone barra in alto*/
        .icon-list{        
            display: flex;
        }
        .icon{
            padding-right: 1.3125rem;
        }
        .ico-colo{       /*colore icone generico*/
            color: #bcbcbc;
        }
        .delete-dropdown{   /*drop down menu delete mex or*/
            width: 170px;
            background-color: white;
            position: absolute;
            z-index: 9999;
            right: 12%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 7px;
        }
        .delete-dropdown p{
            padding: 10px;
        }
         /*fine icone barra in alto*/
        /*fine div utente in alto */
        .list, 
        .icon-list{
            list-style: none;
        }
        .list,
        .angle-down-menu{
            cursor: pointer;
        }
        .user-img{          /*container immagini utenti*/
            width: 50px;
            margin: .625rem;
        }
        .user-img img, list img{
            width:100%;
            border-radius: 50%;
            display: block;
        }
        .time-user{
            color: rgb(185, 184, 184);
            font-size: 12px;
        }
        .info-user :last-child{
            color: rgb(185, 184, 184);
            font-size: 12px;
        }
        /* barra di ricerca */
        .serch{         
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .serch-in{                      /*barra di ricerca*/
            background-color: #ede9ea;
            margin: 7px 0 7px 0;
            height: 35px;
            width: 98%;
            border: none;
            outline: none;
            border-bottom: 1px solid var(--bg-col-grey-100);
            border-top: 1px solid var(--bg-col-grey-100);
            border-right: 1px solid var(--bg-col-grey-100);
        }
        .fa-magnifying-glass{       /*icona lente*/
            color: #bcbcbc;
        }
        .ico-search{                 /*contenitore icona lente*/
           margin-left: 10px;
           padding-right: 15px;
           border-left: 1px solid var(--bg-col-grey-100);
        }
        /*fine barra di ricerca */
        /* sezione notifiche sopra barra ricerche */
        .notify{            /*barra notifiche*/
            background-color: #8edafc;
            padding: 10px;
            display: flex;
        }
        .fa-bell-slash{     /*icona campana*/
            color: #8edafc;
        }
        .notify-specific{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .notify-circle{ /*cerchio che raachiude campana notifiche*/
            width: 50px;
            line-height: 3;
            text-align: center;
            border-radius: 50%;
            object-fit: cover;
            background-color: white;
            margin-right: 10px;
            margin-left: 10px;
        }
        .notify-link a{
            text-decoration: none;
            color: #6399b1;
            text-decoration: Underline;
        }
         /*fine sezione notifiche sopra barra ricerche */
        /* lista immagini sinistra */
        .main-list-container{
            height: 100%;
            margin-right: .8125rem;
            box-shadow: 1px 0 #dbdbdb;
        }
        .list{             /*elemento lista li*/
            display: flex;
            box-shadow: 0 1px var(--bg-col-grey-100);
        }
        .current-user-img p{
            line-height: 4;
        }
        .list, img{
            margin-left: .4375rem;
        }
        .list p,
        .current-user-img p,
        .visibility-friend-container p{
            margin-left: 20px;
        }
        /*fine lista immagini sinistra */
    /*fine small container */
    /* big container */
    .big-container{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
        .dc-border{
            border-left: 2px solid #d7d7d7;
        }
        .friend-corner{ /*container foto ed elementi foto*/
            display: flex;
        }
        .friend-img{        /*contenitore più piccolo*/
            display: flex;
        }
        .visibility-friend-container{   /*container info img name e log */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .info-user{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;
        }
        .visibility{
            font-size: 10px;
            color: #9b9fa0;
        }

        /* barra inferiore input messaggio */
        .write-bar{     /*container barra di scrittura */
            margin-top: auto;
            background-color: #e5e2df;
        }
        .ico-colo-wr{   /*colore icone accanto input messaggio*/
            color: #7a7a7a;
            font-size: 25px;
        }
        .main-write-list{       /*ul lista per input message e icone laterali*/
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            list-style: none;
        }
        /* input */
        .write-input{
            width: 75%;
            text-align: center;
        }
        .message-input{
            background-color: #ede9ea;
            margin: 10px 0 10px 0;
            border-radius: 3px;
            height: 40px;
            padding: 10px;
            width: 100%;
            border: none;
            outline: none;
        }
        .fa-paper-plane,
        .ico-colo-wr
        {    /*aereoplano per invio messaggi*/
            color: grey;
            font-size: 25px;
            cursor: pointer;
        }
        /*fine input */
        /* barra inferiore input messaggio */

        /******************************
        //////spazio per i messaggi/////

        questa parte si trova al centro in html ma per 
        separarla la metto qua in fondo
        *******************************/
        .main-message-container{    /*contenitore principale*/
            width: 100%;
            height: 100%;
            background-color: #fafafa;
            overflow: auto;
        }
        .message-content{        /*contenitore secondario*/
            width: 100%;
            height: 100%;
            background-image: url('../img/mine.jpg');
            padding-top: 30px;
            overflow: auto;
            position: relative;
        }
        .two-message-container{
            display: flex;
            justify-content: space-around;
            padding-top: 10px;
        }
        .hour{
            text-align: end;
            margin-right: 5px;
            color: rgb(185, 184, 184);
            font-size: 12px;
        }
        .mex-received,
        .mex-send{
            width: 40%;
            min-width: 150px;
            padding: 10px 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            position: relative;
        }
        .mex-received-color{   /*messaggio ricevuto*/
            background-color: white;
        }
        .mex-send-color{
            background-color: #d5f9ba;
        }
        .message{
            font-size: 13px;
            margin-right: 7px;
        }
        .message-menu{
            position: absolute;
            z-index: 9999;
            background-color: white;
            left: 20%;
            top: 10%;
            width: 183px;
            text-align: center;
            border-radius: 7px;
        }
        .angle-down-menu{
            position: absolute;
            top: 6%;
            left: 92%;
        }
        .info-mex-menu{
            padding: 10px 0;
        }
        .angle-down-menu i{
            font-size: 17px;
            color: #b6b5b5;
        }
        .diff-menu-col{
            background-color: #cbcbcb;
        }
        .d-none{
            display: none;
        }
        .d-block{
            display: block;
        }
        /* spazio per i messaggi  */
    /*fine big container */
/* main */